@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
body {
	background: #f7f7f7;
	overflow: hidden;
    background: url(images/wall.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur();
}
html, body {touch-action: none;}
.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	z-index: 5;
	position: relative;
	
  .logo {
    padding:30px;
		margin: 0 auto;
		max-width: 300px;
		/*background: rgba(255, 255, 255, 0.8);*/
		/*backdrop-filter: blur(10px);*/
		/*border-radius: 100%;*/
		img {
			width: 100%;
		}
	}
}
#open-hours {
  text-align: center;
  width:fit-content;
  margin:20px auto;
}
.hours {
  font-family: Raleway, serif;
  color: #333;
  font-size: 1.2em;
  line-height: 1;
  position: relative;
  text-align: center;
  margin: 1vh auto;
  padding: 2.5vh 0;
  width: 80%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 5px;
  box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.8) inset,
    3px 5px 10px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  will-change: color, text-shadow, font-size;
  transition: ease all 0.3s;
}
.apply {
  font-family: Raleway, serif;
  color: #333;
  font-size: 1em;
  line-height: 1;
  position: relative;
  text-align: left;
  margin: 1vh auto;
  padding: 2.5vh 2vw;
  width: 80%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 5px;
  box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.8) inset,
    3px 5px 10px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  will-change: color, text-shadow, font-size;
  transition: ease all 0.3s;
}
.menu {
	display: flex;
	flex-direction: column;
	width: 100%;
	grid-area: 1/1/2/2;
	position: relative;
	a {
		font-family: Raleway, serif;
		color: #333;
		cursor: pointer;
		font-size: 20px;
		font-weight: 700;
		line-height: 1;
		position: relative;
		text-align: center;
		margin: 1vh auto;
		padding: 2.5vh 0;
		width: 80%;
		background: rgba(255, 255, 255, 0.8);
		backdrop-filter: blur(15px);
		border-radius: 5px;
		box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.8) inset,
			3px 5px 10px 0 rgba(0, 0, 0, 0.1);
		text-decoration: none;
		will-change: color, text-shadow, font-size;
		transition: ease all 0.3s;
		&:hover {
			transform: scale(1.1);
			background: rgba(255, 255, 255);
		}
	}
}

/* Menu ----------------------------------------------------------------*/

.menucontainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-family: sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-desc {
  line-height: 1.6;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-img {
    width: 125px;
    height: 125px;
  }
}
@media (max-width: 400px) {
	.menu-item-img {
		display: none;
	  }
}
/* End Menu ------------------------------------------------------------*/
/*Footer ----------------------------------------------------------------------------------*/

.footer{
  background:#f7f7f77e;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  bottom:0;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
  /* Footer End----------------------------------------------------------*/