* {
  box-sizing: border-box;
  transition-property: inherit;
  transition-duration: inherit;
  transition-timing-function: inherit;
  transition-delay: inherit;
}
.headeralert {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position:relative;
  display:block;
  margin:0 auto;
  text-align:center;
  width:100%;
  color:white;
}
nav {
  padding: 20px 20px;
  height: auto;
  z-index: 150;
}
.topnav {
  overflow: hidden;
  background-color: inherit;
  margin: 0 auto;
}

.topnav a {
  float: right;
  display: inline-block;
  color: black;
  font-weight: lighter;
  text-align: center;
  padding: 22px 16px;
  text-decoration: none;
  font-size: 17px;
}
svg {
  padding-top: 5px;
}
button.alertbtn {
  border:0;
  background-color: inherit;
  display: inline;
  float: none;
  font-size: 15px;
}

.topnav a:hover {
background-color: inherit;
color: #F1545E;
}
.topnav .icon {
display: none;
}
body, html {
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 1em;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}
#alert {
  padding:10px;
  max-width:800px;
  margin: 0 auto;
}
body {
  background-color: white;
}
#smlogo {display: none;height: }
#logo {}
#ovalLogo {
  width:30vw;
}
img.logo {
  height:50px;
}

#map {
  width:290px;
  margin:0 auto;
  position:relative;
}

.inf-container {
  margin: 0 auto;
  padding:10px;
}

div#currentStatus{
  letter-spacing: -1px;
  color:white;
  font-size: 25px;
  padding:60px 0px 0px 0px;
  font-weight: bold;
  border-radius: 25px;
  margin-bottom: 20px;
  text-align: center;
}
main {
  margin:0 auto;
  display: block;
  width: 100%;
  z-index: 149;
}
.content-wrapper {
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: inherit;
  width: 100%;
  display: flex;
}
.inner-content-wrapper {
  width:80%;
  margin:0 auto;
  text-align: center;
}
.splitL-content-wrapper {
  width:50%;
  float:left;
  height: 100%;
}
.splitR-content-wrapper {
  width:50%;
  float: right;
  height: 100%;
}
#split {
  background-image:url('');
  height:500px;
  border:solid white 40px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
p.split-content {
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight:bold;
  text-align: center;
}
h1 {
  margin: 0;
  font-size:1.9em;
}
.buttonS1 {
  background-color: #FF3838;
	display:inline-block;
	cursor:pointer;
	color:white;
  font-family: monospace;
  letter-spacing: 1px;
	font-size:15px;
  font-weight: bold;
	padding:25px 40px;
	text-decoration:none;
}
.buttonS1:hover {
  background-color: #FF383870;
  transition: .5s;
}
.buttonS1:active {
	position:relative;
	top:1px;
}
.buttonS2 {
  border:solid 2px white;
	display:inline-block;
	cursor:pointer;
	color:white;
  font-family: monospace;
  letter-spacing: 2px;
	font-size:15px;
  font-weight: bold;
	padding:25px 40px;
	text-decoration:none;
  margin: 0 auto;
}
.buttonS2:hover {
	background-color:white;
  color:#FF3838;
  transition: .2s;
}
.buttonS2:active {
	position:relative;
}
button.simpleButton {
  padding: none;
  background-color:inherit;
  border: none;
}
footer {
  font-family: "Lato", sans-serif;
  display: block;
  width:100%;
  border-top: 1px solid #F0F0F0;
  min-height: 200px;
}
.footer-wrapper {
  margin: 0;
  padding:45px 45px 0 45px;
  text-align: center;
  color:gray;
}
#footer-container {
  margin:0 auto;
  display:inline-block;
  vertical-align:top;
  width: 23.99999%;
  padding: 20px 10px;
}
footer a{
  color:gray;
}footer a:hover{
  color:blue;
}
.footerLogo {
  width: 120px;
  display: inline-block;
}
ul.inf {
  vertical-align: top;
  list-style: none;
  list-style-type: none;
  text-align: left;
  color:black;
  /*text-shadow: 2px 2px 4px black;*/
}
footer ul {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  list-style:none;
  color: #FF3838;
  text-align: left;
  padding-left: 0;
}
footer li {
  font-weight: lighter;
  font-size: 16px;
  padding: 5px 0;
  color:gray;
}
footer li a{
  text-decoration: none;
}
button {
  margin: 10px;
}

/* Main - Mobile*/
@media screen and (max-width:600px) {
  #smlogo {display: inline-block;height: 40px;}
  img.logo {display: none;}
  div.info-block{margin: 0;}
  img.centered-shadow {width: 100%;}
  div.content-block {width: 250px;height: 125px;border-radius: 125px / 62.5px;}
  div.content-block img {width:200px;margin-top:20px;}
}
/* Footer Mobile  */
@media screen and (max-width: 500px) {
  footer {}
  footer ul{text-align:left;vertical-align:top;}
  #footer-container {display: block;width: 100%;}
  .footerLogo {width: 100px;}
  .footer-wrapper {
    padding-left: 20px;
    width:100%;
  }
}
 /* Navigation - Mobile */
 @media screen and (max-width: 600px) {
   .topnav a {display: none;padding: 10px;}
   .topnav a.icon {
     float: none;
     display: block;
   }
 }

 @media screen and (max-width: 600px) {
   .topnav.responsive {position: relative;}
   .topnav.responsive .icon {
     float: none;
     position: relative;
     top: 0;
     display:block;
     text-align:right;
   }
   .topnav.responsive a {
     float: none;
     display: block;
     text-align: right;
     position: relative;
     width:100%;
   }
   .social {}
 }
/* top - Mobile Optimization */
@media screen and (max-width: 800px) {
  #ovalLogo {width:60vw;}
  .splitL-content-wrapper {float:none;display:block;width: 100%;display: none;}
  .splitR-content-wrapper {float:none;display:block;width: 100%;}

}
