
body:before{
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  background: url("images/bg.jpg") no-repeat center left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  z-index: -10;
}
* {
  box-sizing: border-box;
  transition-property: inherit;
  transition-duration: inherit;
  transition-timing-function: inherit;
  transition-delay: inherit;
  font-family: sans-serif;
}
i.fa {
  font-size: 30px;
}
nav {
  height: auto;
  z-index: 150;
  position: fixed:
}
.topnav {
  overflow: hidden;
  margin: 0 auto;
}

.topnav a {
  float: right;
  display: inline-block;
  color: black;
  font-weight:lighter;
  letter-spacing:3px;
  text-align: center;
  padding: 22px 16px;
  text-decoration: none;
  font-size: 17px;
}

svg {
  padding-top: 5px;
}
button.alertbtn {
  border:0;
  background-color: inherit;
  display: inline;
  float: none;
  font-size: 15px;
  text-decoration: underline;
}
button.alertbtn:hover {
  color:white;
}


.topnav a:hover {
background-color: inherit;
color: #ff6c6c;
}
.topnav .icon {
display: none;
}
.topnav .icon:hover {
  color:black;
}
body, html {
  color: black;
  font-size: 1em;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}
#alert {
  padding:0px 10px 5px 10px;
  margin: 0 auto;
  color:black;
  text-align: left;
  font-weight: 400;
}
body {
  background-color: white;
}
#smlogo {display: none;height: }
#logo {}

#ovalLogo {
  width:60vw;
}
img.logo {
  height:50px;
}
p.caption {
  font-size: 1.3em;
}
#map {
  width:290px;
  margin:0 auto;
  position:relative;
}

.inf-container {
  margin: 0 auto;
  padding:10px;
}

div#currentStatus{
  letter-spacing: -1px;
  color:black;
  font-size: 25px;
  padding:0px 0px 0px 0px;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: right;
}
main {
  margin:0 auto;
  display: block;
  width: 100%;
  z-index: 149;
}
.content-wrapper {
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: inherit;
  width: 100%;
  display: flex;
}
.inner-content-wrapper {
  max-width: 1200px;
  margin:0 auto;
  text-align: center;
}
.inner-content-wrapper h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: -2px;
}
.splitL-content-wrapper {
  width:50%;
  float:left;
}
.splitR-content-wrapper {
  width:50%;
  float: right;
  height: 100%;
}
#split_image {
  width:300px;
}
#split {
  background-image:url('');
  height:500px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
p.split-content {
  letter-spacing: 2px;
  font-size: 30px;
  font-weight:light;
  text-align: center;
  font-family:;
  color:black;
}
h1 {
  margin: 0;
  font-size:1.9em;
  color:black;
}
.buttonS1 {
  border:solid 2px white;
	display:inline-block;
	cursor:pointer;
	color:white;
  letter-spacing: 2px;
	font-size:15px;
  font-weight: bold;
	padding:25px 40px;
	text-decoration:none;
  margin: 0 auto;
}
.buttonS1:hover {
	background-color:white;
  color:black;
  transition: .2s;
}
.buttonS1:active {
	position:relative;
}
.buttonS2 {
  border:solid 2px black;
	display:inline-block;
	cursor:pointer;
	color:black;
  letter-spacing: 2px;
	font-size:15px;
  font-weight: bold;
	padding:25px 40px;
	text-decoration:none;
  margin: 0 auto;
}

.buttonS2:hover {
	background-color:white;
  color:black;
  transition: .2s;
}
.buttonS2:active {
	position:relative;
}

button.simpleButton {
  padding: none;
  background-color:inherit;
  border: none;
}
footer {
  background-color: #EEEEEE;
  display: block;
  width:100%;
  border-top: 1px solid #F0F0F0;
  min-height: 200px;
}
.footer-wrapper {
  margin: 0;
  padding:45px 45px 0 45px;
  text-align: center;
  color:gray;
}
#footer-container {
  margin:0 auto;
  display:inline-block;
  vertical-align:top;
  width: 23.99999%;
  padding: 20px 10px;
}
footer a{
  color:#ff6c6c;
}footer a:hover{
  color:blue;
}
ul.inf {
  vertical-align: top;
  list-style: none;
  list-style-type: none;
  text-align: left;
  color:#ff6c6c;
  /*text-shadow: 2px 2px 4px black;*/
}
footer ul {
  margin: 0;
  font-size: 20px;
  font-weight:lighter;
  list-style:none;
  color: #ff6c6c;
  text-align: left;
  padding-left: 0;
  letter-spacing: 2px;
}
footer li {
  font-weight: lighter;
  font-size: 16px;
  padding: 5px 0;
  color:black;
}
footer li a{
  text-decoration: underline;
  color:black;
}
button {
  margin: 10px;
}

/* Main - Mobile*/
@media screen and (max-width:600px) {
  #smlogo {display: inline-block;height: 50px;}
  img.logo {display:none;}
  div.info-block{margin: 0;}
  img.centered-shadow {width: 100%;}
  div.content-block {width: 250px;height: 125px;border-radius: 125px / 62.5px;}
  div.content-block img {width:200px;margin-top:20px;}
  #alert {margin: 20px;}
}
/* Footer Mobile  */
@media screen and (max-width: 500px) {
  footer {}
  footer ul{text-align:left;vertical-align:top;}
  #footer-container {display: block;width: 100%;}
  .footer-wrapper {
    padding-left: 20px;
    width:100%;
  }
}
 /* Navigation - Mobile */


 @media screen and (max-width: 840px) {
   .topnav a {display: none;padding: 10px;}
   .topnav a.icon {
     float: none;
     display: block;
     font-size: 20px;
   }
   .topnav.responsive {position: relative;}
   .topnav.responsive .icon {
     float: none;
     position: relative;
     top: 0;
     display:block;
     text-align:right;
   }
   .topnav.responsive a {
     float: none;
     display: block;
     text-align: right;
     position: relative;
     width:100%;
     font-size: 20px;
   }
   .topnav a {
   }
   .social {}
 }

/* top - Mobile Optimization */
@media screen and (max-width: 840px) {
  #ovalLogo {width:90vw;}
  .splitL-content-wrapper {float: none;display: block;text-align: center;width: 100%;}
  .splitR-content-wrapper {float: none;display: block;text-align: center;width: 100%;}
  #split_image {width: 200px;}

}
